<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>회원목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div class="container">
        <h2>회원목록</h2>
        <table class="table">
            <tr>
                <td>회원 번호</td>
                <td>회원 아이디</td>
                <td>회원 이름</td>
                <td>회원 이메일</td>
                <td>회원 전화번호</td>
            </tr>
            <tr th:each="member: ${memberList}" >
                <td th:text="${member.id}"></td>
                <td th:text="${member.memberId}"></td>
                <td th:text="${member.memberName}"></td>
                <td th:text="${member.memberEmail}"></td>
                <td th:text="${member.memberMobile}"></td>
                <td><button th:onclick="'location.href=\'' + @{|/member/${member.id}|} + '\''">조회</button></td>
            </tr>
        </table>
    </div>
</body>
</html>