<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div class="container">
    <h2>회원가입</h2>
    <form action="/member/save" method="post">
        아이디<input type="text" class="form-control" id="memberId" name="memberId" placeholder="아이디 입력"><br>
        비밀번호<input type="password" class="form-control" name="memberPassword" placeholder="비밀번호 입력"><br>
        이름<input type="text" class="form-control" name="memberName" placeholder="이름 입력"><br>
        이메일 <input type="text" class="form-control" name="memberEmail" placeholder="이메일 입력"><br>
        프로필사진 <input type="file" name="memberProfile">
        <input type="submit" class="btn btn-outline-info" value="회원가입">
    </form>
</div>
</body>
</html>