<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <meta charset="UTF-8">
    <title>헤더Title</title>
    <div id="header">
        <!-- 로그인 O
                1. 관리자(admin)라면 관리자모드 링크 보임.
                2. 관리자가 아니라면 로그아웃 링크 보임.
             로그인 X
             - 회원가입 링크 보임.
            -->
        <div th:if="${session.loginEmail}">
            <div th:if="${session.loginEmail.toString().equals('admin')}">
                <a href="/member/admin">관리자페이지</a>
            </div>
            <div>
                <a href="/member/logout">로그아웃</a>
                <a th:href="@{|/member/myPage/${session.loginId}|}">MyPage</a>
            </div>
        </div>
        <div th:unless="${session.loginEmail}">
            <a href="/member/login-form">로그인</a>
            <a href="/member/save-form">회원가입</a>
            <a href="/">Home</a>
        </div>
    </div>
</th:block>
</html>