<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>게시글 상세 조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <style>
        .container{
            margin-top: 20px;
        }
        .btn{
            float: right;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <h2>게시글 상세 조회</h2>
        <div th:if="${session.loginEmail}">
            <div th:if="${session.loginEmail.toString()} == ${board.boardWriter}">
                    <button class="btn btn-outline-primary" th:onclick="req(1)">게시글 수정</button>
            </div>
            <div th:if="${session.loginEmail.toString()} == ${board.boardWriter} or ${session.loginEmail.toString().equals('admin')}">
                <button class="btn btn-outline-danger" th:onclick="req(2)">게시글 삭제</button>
            </div>
        </div>
        <table class="table">
            <tr>
                <td>글 번호</td>
                <td colspan="3" th:text="${board.id}"></td>
            </tr>
            <tr>
                <td>글 제목</td>
                <td colspan="3" th:text="${board.boardTitle}"></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td th:text="${board.boardWriter}"></td>
                <td>조회수</td>
                <td th:text="${board.boardHits}"></td>
            </tr>
            <tr>
                <td>작성시간</td>
                <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>수정시간</td>
                <td th:text="*{#temporals.format(board.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td colspan="3" th:text="${board.boardContents}">
                </td>
                <td>
                    <img th:src="@{|/upload/${board.boardFileName}|}" width="300" height="200" alt="">
                </td>
            </tr>
        </table>
    </div>
<div class="container">
    댓글 입력
    <div id="comment-write" class="input-group mb-3">
        <div class="form-floating">
            <input type="text"  id="commentWriter" class="form-control"  th:value="${session.loginEmail}" placeholder="작성자" readonly>
            <label for="commentWriter">작성자</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" id="commentContents"  onclick="commentWriterCheck()" class="form-control" placeholder="내용">
            <label for="commentContents">내용</label>
        </div>
        <button id="comment-write-btn" style="width: 100px; height: 60px" class="btn btn-primary">댓글작성</button>
    </div>
    <div id="comment-list">
        <p style="margin-top: 20px">작성된 댓글</p>
        <table class="table">
            <tr>
                <td>댓글번호</td>
                <td>작성자</td>
                <td>내용</td>
                <td>작성시간</td>
            </tr>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
                <td th:text="*{#temporals.format(comment.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script th:inline="javascript">
    const req = (num) => {
        const id = [[${board.id}]];
        if(num == 1){
            location.href = "/board/update/" + id;
        }
        else if(num == 2){
            const deleteCheck = confirm("게시글을 삭제하겠습니까?");
            if(deleteCheck){
                location.href  = "/board/delete/" + id;
            }
        }
    }
    const commentWriterCheck = () => {
        const commentWriter = document.getElementById("commentWriter").value;
        const commentContents = document.getElementById("commentContents");
        if(commentWriter == ""){
            commentContents.readOnly = true;
        }
    }

    $("#comment-write-btn").click(function (){
        const commentWriter = document.getElementById("commentWriter").value;
        const commentContents = $("#commentContents").val();
        const boardId = [[${board.id}]];
        if(commentContents != ""){
            $.ajax({
                type: "post",
                url: "/comment/save",
                data: {"commentWriter": commentWriter, "commentContents": commentContents, "boardId": boardId},
                dataType: "json",
                success: function (result){
                    console.log(result);
                    let output = "<table class='table'>";
                    output += "<tr><th>댓글번호</th>";
                    output += "<th>작성자</th>";
                    output += "<th>내용</th>";
                    output += "<th>작성시간</th></tr>";
                    for(let i in result){
                        output += "<tr>";
                        output += "<td>"+result[i].id+"</td>";
                        output += "<td>"+result[i].commentWriter+"</td>";
                        output += "<td>"+result[i].commentContents+"</td>";
                        output += "<td>"+moment(result[i].createdTime).format("YYYY-MM-DD HH:mm:ss")+ "</td>";
                        output += "</tr>";
                    }
                    output += "</table>";
                    document.getElementById('comment-list').innerHTML = output;
                    document.getElementById('commentContents').value='';
                },
                error: function (){
                    alert("오류");
                }

            });
        }
        else{
            alert("댓글을 작성해주세요.");
        }
    });
</script>
</html>