<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>게시글 작성</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
        .btn{
            margin-top: 20px;
            width: 180px;
            height: 40px;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <h2>게시글 작성</h2>
        <form action="/board/save" method="post" enctype="multipart/form-data">
            제목 <input type="text" class="form-control" name="boardTitle"><br>
            작성자 <input type="text" class="form-control" name="boardWriter"  th:value="${session.loginEmail}" readonly><br>
            내용 <textarea class="form-control" name="boardContents" cols="50" rows="10"></textarea><br>
            첨부파일 <input type="file" class="form-control" name="boardFile"><br>
            <input type="button" class="btn btn-outline-dark" onclick="location.href='/board'" value="취소">
            <input type="submit" class="btn btn-outline-primary" value="글 작성">
        </form>
    </div>
</body>
</html>