<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>게시글 수정</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <div class="container">
        <h2>게시글 수정</h2>
        <form action="/board/update" method="post">
            <input type="hidden" name="id" th:value="${updateBoard.id}">
            글 제목<input type="text" class="form-control" name="boardTitle" th:value="${updateBoard.boardTitle}"><br>
            작성자<input type="text" class="form-control" name="boardWriter" th:value="${updateBoard.boardWriter}" readonly><br>
            내용<input type="text" class="form-control" name="boardContents" th:value="${updateBoard.boardContents}"><br>
            조회수<input type="text" class="form-control" name="boardHits" th:value="${updateBoard.boardHits}" readonly><br>
            첨부파일<input type="text" class="form-control" name="boardFileName" th:value="${updateBoard.boardFileName}" readonly><br>
            <input type="button"  class="btn btn-outline-dark" th:onclick="'location.href=\''+ @{|/board/${updateBoard.id}|} + '\''" value="취소">
            <input type="submit" class="btn btn-primary" value="수정하기">
        </form>
    </div>
</body>
</html>