<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>회원제 게시판</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>회원제 게시판</h2>
        <div th:if="${session.loginMemberId}">
            <div th:if="${session.loginMemberId.toString().equals('admin')}">
                <button class="btn btn-outline-success" onclick="location.href='/member/admin'">관리자페이지</button>
            </div>
            <div>
                <button class="btn btn-outline-danger" onclick="location.href='/member/logout'">로그아웃</button>
            </div>
        </div>
        <div th:unless="${session.loginMemberId}">
            <button class="btn btn-primary" onclick="location.href='/member/save-form'">회원가입</button>
            <button class="btn btn-outline-dark" onclick="location.href='/member/login-form'">로그인</button>
        </div>
        <button class="btn btn-outline-info" onclick="location.href='/board'">글목록</button>
    </div>
</body>
</html>