<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>회원제 게시판</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <style>
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>회원제 게시판</h2>
        <div th:if="${session.loginEmail}">
            <div th:if="${session.loginEmail.toString().equals('admin')}">
                <a href="/member/admin">관리자페이지</a>
            </div>
            <div>
                <a th:href="@{|/member/myPage/${session.loginId}|}">MyPage</a>
                <a href="/member/logout">로그아웃</a>
            </div>
        </div>
        <div th:unless="${session.loginEmail}">
            <a href="/member/login-form">로그인</a>
            <a href="/member/save-form">회원가입</a>
        </div>
        <a href="/">Home</a>
        <a href="/board">글목록</a>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>